* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  max-width: 170px;
  height: 19px;
  display: none;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  background: #db8876;
  border-radius: 5px;
  padding: 13px;
  cursor: pointer;
}

.btn p {
  font-size: 17px;
  font-weight: 700;
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn p {
  font-size: 17px;
  font-weight: 700;
}

.heart {
  width: 100px;
  height: 100px;
}

.icone {
  width: 18px;
  display: none;
  cursor: pointer;
}

.toggle {
  display: flex;
  background: url(icon/red.jpg);
}

/*
.red {
  display: flex;
}
*/
